#img1{
    height: 450px;
    width: 450px;
}
#img2{
    height: 450px;
    width: 600px;
}
#img3{
    height: 450px;
    width: 600px;
}
#img4{
    height: 450px;
    width: 600px;
}
#img5{
    height: 450px;
    width: 600px;
}
#img6{
    height: 450px;
    width: 700px;
}
img{
    border-radius:15px ;
}
body{
    text-align: center;
    background-color: #202020;
    overflow: hidden;
}
h1{
    color:whitesmoke;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
}
kbd{
    color: whitesmoke;
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 5px;
    padding-left: 5px;
    border-bottom: solid 3px #292929;
    border-radius: 5px;
    font-size: 15px;
    font-family: monospace;
}
.button{
    background-color: #32a852 ;
    border: none;
    border-bottom: solid 3px #2b8d45;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 2px;
    color: whitesmoke;
    font-family: 'Libre Franklin', sans-serif;
    height: 30px;
}
.navigator{
    background-color: #808080 ;
    border: none;
    border-bottom: solid 3px #666666;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 2px;
    color: whitesmoke;
    height: 30px;
    width: 30px;
    font-size: 18px;
    font-family: 'Libre Franklin', sans-serif;
}
.navigator:hover{
    background-color: #656565;
    border-bottom: solid 3px #515151;
}
.button:hover{
    background-color: #228f43;
    border-bottom: solid 3px #1a7034;
}